/* CARDS START */

.cards {
  padding: 3.8194vw 3% 5.556vw;
}

.cards__wrapper {
  width: 92.75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__header {
  width: 27.4493vw;
  height: 14.6736vw;
  margin-bottom: 4.4444vw;
}

.cards__header-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.cards__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3889vw 2.3264vw;
  padding: 0.6944vw 1.3889vw;
}

.cards__item {
  width: 100%;
  overflow: hidden;
}

.cards__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .cards {
    padding: 10% 2.5641%;
  }

  .cards__wrapper {
    width: 94.8718%;
    max-width: none;
  }

  .cards__header {
    width: 94.8718%;
    height: auto;
    aspect-ratio: 370 / 198;
    margin-bottom: 8.7179%;
  }

  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.1282vw 2.5641vw;
    padding: 2.5641vw;
  }

  .cards__item {
    aspect-ratio: 165 / 184;
  }
}
