



.cards {
  padding: 73px 58px 107px; 
}

.cards__wrapper {
  max-width: 1780px; 
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__header {
  max-width: 527px; 
  width: 100%;
  aspect-ratio: 527 / 282; 
  margin-bottom: 85px; 
}

.cards__header-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.cards__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px 45px;       
  padding: 13px 27px;   
}

.cards__item {
  width: 100%;
  overflow: hidden;
}

.cards__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


@media (max-width: 1440px) {
  .cards {
    padding: 55px 42px 80px; 
  }

  .cards__wrapper {
    max-width: 1335px; 
  }

  .cards__header {
    max-width: 395px; 
    aspect-ratio: 395 / 211;
    margin-bottom: 64px;
  }

  .cards__grid {
    gap: 20px 34px;
    padding: 10px 20px;
  }
}


@media (max-width: 767px) {
  .cards {
    padding: 39px 10px;
  }

  .cards__wrapper {
    width: 100%;
    max-width: none;
  }

  .cards__header {
    width: 100%;
    height: auto;
    aspect-ratio: 370 / 198;
    margin-bottom: 34px; 
  }

  .cards__grid {
    grid-template-columns: repeat(2, 1fr);

    
    gap: 20px;
    padding: 10px;
  }

  .cards__item {
    aspect-ratio: 165 / 184;
  }
}