.carousel {
  padding-top: 192px;
  background: #fff;
  overflow: hidden;
}

.carousel__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.carousel__title {
  font-family: "EB Garamond", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #0e2242;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.carousel__container {
  width: 100%;
  margin: 58px 0;
  overflow: visible;
  position: relative;
}

.carousel__track {
  display: flex;
  align-items: center;
  width: max-content;
  will-change: transform;
}

.carousel__track img {
  height: 40px;
}

.carousel__img {
  height: 80px;
  width: auto;
  display: block;
  flex: 0 0 auto;
}

.cta-main.carousel-cta {
  max-width: 497px;
  width: 100%;
}

@media (max-width: 1440px) {
  .carousel {
    padding-top: 120px;
  }

  .carousel__wrapper {
    max-width: 100%;
  }

  .carousel__title {
    font-size: 22px;
  }

  .carousel__container {
    margin: 44px 0;
  }

  .cta-main.carousel-cta {
    max-width: 505px;
  }
}

@media (max-width: 1024px) {
  .carousel__title {
    font-size: 36px;
  }

  .cta-main.carousel-cta {
    font-size: 30px;
    height: 94px;
    max-width: 680px;
  }

  .carousel__container {
    margin: 30px 0;
  }
  .carousel__track img {
    height: 35px;
  }
}

@media (max-width: 768px) {
  .carousel__title {
    font-size: 25px;
    line-height: 1.3em;
    text-align: center;
    font-weight: 700;
    font-family: "Bebas Neue Pro", sans-serif;
  }

  .carousel__wrapper {
    width: 100%;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .cta-main.carousel-cta {
    font-size: 18px;
    height: auto;
    max-width: 100%;
  }

  .carousel {
    padding-top: 20px;
  }
}
