body {
  line-height: 1.45;
  background-color: #fff;
  font-family: 'EB Garamond', 'Garamond', serif;
  font-weight: 400;
}

b {
  font-weight: bolder;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-family: "EB Garamond", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue Pro", Sans-serif;
  font-weight: 700;
}

/* Viewport 1810 */
.text-s {
  font-size: 1.25vw; /* 22.625px */
}
.text-m {
  font-size: 1.563vw; /* 28.2903px */
}

.title-s {
  font-size: 1.823vw; /* 32.9963px */
}

.title-m {
  font-size: 1.98vw; /* 35.838px */
}

.title-l {
  font-size: 2.411vw; /* 43.6391px */
}

.title-xl {
  font-size: 4.167vw; /* 75.4227px */
}
