body {
  line-height: 1.45;
  background-color: #fff;
  font-family: "EB Garamond", "Garamond", serif;
  font-weight: 400;
}

b {
  font-weight: bolder;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-family: "EB Garamond", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue Pro", Sans-serif;
  font-weight: 700;
}


.text-m {
  font-size: 30px;
}

@media (max-width: 1440px) {
  .text-m {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .text-m {
    font-size: 20px;
  }
}
