.guarantee {
  background: #fff;
  padding-top: 58px;
  position: relative;
  z-index: 1;
}

.guarantee::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  pointer-events: none;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg...");
  transform: rotate(180deg);
  transform-origin: center;
}

.guarantee__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 40px;
  padding: 0 20px;
}

.guarantee__top {
  display: flex;
}

.guarantee__top-left {
  padding: 38px 58px 38px 38px;
  width: 50%;
}

.guarantee__top-left-image {
  width: 100%;
  margin-bottom: 20px;
}

.guarantee__top-left-list {
  display: flex;
  justify-content: space-between;
}

.guarantee__top-left-list__item {
  width: 32%;
}

.guarantee__top-right {
  width: 50%;
  padding: 0 38px 38px 20px;
}

.guarantee__title {
  font-family: "Bebas Neue Pro", Sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #0e2242;
  line-height: 1;
  margin-bottom: 20px;
}

.guarantee__stars-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.guarantee__stars-image {
  width: 202px;
}

.guarantee__span-5 {
  font-size: 44px;
  font-weight: 700;
  color: #0e2242;
  line-height: 1;
  font-family: "Bebas Neue Pro", Sans-serif;
  margin-left: 15px;
}

.guarantee__subtitle {
  font-size: 35px;
  font-weight: 700;
  color: #0e2242;
  line-height: 1.4;
  font-family: "Bebas Neue Pro", Sans-serif;
  margin-bottom: 20px;
}

.guarantee__box {
  margin: 20px 0 0 0;
  padding: 78px;
  border: 2px solid #ebb858;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.guarantee__box-text-block p {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  color: #0e2242;
}

.guarantee__box-text-block p strong {
  font-weight: 700;
}

.guarantee__box-text-block br {
  display: none;
}

.cta-main.guarantee-cta {
  width: 100%;
  margin-top: 32px;
  max-width: 497px;
}

.guarantee__bottom {
  display: flex;
}

.guarantee__bot-left {
  width: 50%;
  padding: 0;
}

.guarantee-bot__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2em;
  color: #0e2242;
}

.guarantee__bot-box {
  margin-top: 36px;
  padding: 78px 48px 78px 58px;
  border: 2px solid #ebb858;
  margin-bottom: 36px;
}

.guarantee__bot-box ul {
  margin-left: 48px;
  list-style: disc;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.guarantee__bot-box ul li {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  color: #0e2242;
}

.guarantee__bot-box ul li strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2em;
  color: #0e2242;
}

.booking-link {
  color: #0055de;
  line-height: 1.2em;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.guarantee__bot-right {
  width: 50%;
  padding: 0 38px 38px 38px;
}

.guarantee__bot-right img {
  aspect-ratio: 1/1;
  height: auto;
}

@media (max-width: 1440px) {
  .guarantee {
    padding-top: 44px;
  }

  .guarantee__wrapper {
    max-width: 1080px;
  }

  .guarantee__top-left {
    padding: 28px 44px 28px 28px;
  }

  .guarantee__top-right {
    padding: 0 5px 28px 15px;
  }

  .guarantee__title {
    font-size: 60px;
  }

  .guarantee__stars-image {
    width: 150px;
  }

  .guarantee__span-5 {
    font-size: 32px;
  }

  .guarantee__subtitle {
    font-size: 26px;
  }

  .guarantee__box {
    padding: 20px;
  }

  .guarantee__box-text-block p {
    font-size: 22px;
  }

  .guarantee-bot__subtitle,
  .guarantee__bot-box ul li,
  .guarantee__bot-box ul li strong,
  .booking-link {
    font-size: 22px;
  }

  .guarantee__bot-box {
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 30px 20px;
  }
}

@media (max-width: 768px) {
  .guarantee__wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  .guarantee__top {
    flex-flow: column;
  }

  .guarantee__top-left,
  .guarantee__top-right,
  .guarantee__bot-left,
  .guarantee__bot-right {
    width: 100%;
  }

  .guarantee__top-right {
    padding: 0;
  }

  .guarantee__bot-right {
    padding: 0;
  }

  .guarantee__title {
    font-size: 44px;
  }

  .guarantee__stars-image {
    width: 148px;
  }

  .guarantee__span-5 {
    font-size: 30px;
  }

  .guarantee__subtitle {
    font-size: 20px;
    line-height: 1.2em;
  }

  .guarantee__box-text-block p,
  .guarantee__bot-box ul li,
  .guarantee__bot-box ul li strong,
  .booking-link {
    font-size: 18px;
  }

  .guarantee__box {
    padding: 20px;
  }

  .guarantee__bot-box ul {
    margin-left: 10px;
  }

  .cta-main.guarantee-cta {
    max-width: 100%;
    font-size: 18px;
    height: 60px;
    margin-top: 20px;
  }

  .guarantee__bottom {
    flex-flow: column-reverse;
    gap: 12px;
  }

  .guarantee__bot-box {
    padding: 16px 16px 16px 24px;
  }

  .guarantee__top-left {
    padding: 0;
    padding-bottom: 30px;
  }

  .guarantee__box-text-block br {
    display: block;
  }
}
