.hero {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  z-index: 2;
  position: relative;
}
.hero__wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 12;
}
.hero__inner {
  padding: 10px;
  display: flex;
  flex-flow: column;
}
.hero__subtitle {
  font-weight: 700;
  letter-spacing: 0.015em;
  text-shadow: 4.29019px 0px 4.29019px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  margin-bottom: 5px;
  line-height: 1;
}
.hero__title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-shadow: 7.04px 0px 7.04px rgba(0, 0, 0, 0.25);
  color: #ebb858;

  line-height: 1;
}
.hero__text-wrapper {
  background-color: #996d6d05;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  backdrop-filter: blur(30px);
}
.hero__text {
  color: #fff;
}
.cta-main {
  font-weight: 900;
  text-transform: uppercase;
  fill: #0e2242;
  color: #0e2242;
  font-family: "Aria", sans-serif;
  transition: all 0.3s ease;
  background: linear-gradient(
    265.29deg,
    #9d6b29 -27.47%,
    #bd8432 4.43%,
    #ebb858 43.36%,
    #bd8432 86.26%,
    #835721 115.67%
  );
  border: 1px solid #ebb858;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 78px;
  font-size: 20px;
}
.cta-main:hover {
  background: linear-gradient(
    265.29deg,
    #ebb858 -27.47%,
    #bd8432 4.43%,
    #9d6b29 43.36%,
    #bd8432 86.26%,
    #ebb858 115.67%
  );
}

@media (max-width: 1440px) {
  .cta-main.hero-cta,
  .cta-main {
    min-height: 58px;
    font-size: 18px;
  }
}

.hero__images-absolute {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  z-index: 1;
}
.hero__ranked-image {
  width: 100%;
}
.hero__logos-image {
  max-width: 365px;
  width: 100%;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.hero {
  padding: 115px 58px 205px;
}

.hero__wrapper {
  max-width: 1350px;
}

.hero__inner {
  max-width: 70%;
}

.hero__subtitle {
  font-size: 48px;
  margin-bottom: 5px;
}

.hero__title {
  font-size: 76px;
  margin-bottom: 25px;
}

.hero__text-wrapper {
  padding: 4px 18px;
  border-radius: 5px;

  border: 1px solid #ffffff;
}

.hero__text {
  font-size: 30px;
  margin: 30px 0;
}

.cta-main.hero-cta {
  margin-top: 28px;
  max-width: 425px;
  height: 78px;
  font-size: 20px;
}

.hero__images-absolute {
  max-width: 440px;
  right: 80px;
  bottom: 100px;
}

.hero__ranked-image {
}

.hero__ranked-image img {
}

.hero__logos-image {
}

.hero__logos-image img {
}

.hero__bg {
}

.hero__bg img {
}

@media (max-width: 1600px) {
  .hero__images-absolute {
    max-width: 365px;
    right: 50px;
    bottom: 80px;
  }
}

@media (max-width: 1440px) {
  .hero {
    padding: 115px 58px 205px;
  }

  .hero__wrapper {
    max-width: 1015px;
  }

  .hero__inner {
    max-width: 70%;
  }

  .hero__subtitle {
    font-size: 36px;
    margin-bottom: 5px;
  }

  .hero__title {
    font-size: 56px;
    margin-bottom: 20px;
  }

  .hero__text-wrapper {
    padding: 4px 18px;
    border-radius: 5px;

    border: 1px solid #ffffff;
  }

  .hero__text {
    font-size: 22px;
    margin: 22px 0;
  }

  .cta-main.hero-cta {
    margin-top: 28px;
    max-width: 315px;
    height: 58px;
    font-size: 15px;
  }

  .hero__images-absolute {
    max-width: 330px;
    right: 40px;
    bottom: 110px;
  }
}

@media (max-width: 768px) {
  .hero__bg img {
    object-position: 62% 50%;
  }

  .hero__images-absolute {
    display: none;
  }

  .hero {
    padding: 30px 10px 22px;
  }

  .hero__wrapper {
    max-width: 1015px;
  }

  .hero__inner {
    max-width: 100%;
  }

  .hero__subtitle {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .hero__title {
    font-size: 46px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .hero__text-wrapper {
    padding: 0;
    border-radius: 0;

    backdrop-filter: none;
    border: none;
  }

  .hero__text {
    font-size: 18px;
    margin: 8px 0;
  }

  .cta-main.hero-cta {
    margin-top: 28px;
    max-width: 315px;
    height: 58px;
    font-size: 18px;
  }

  .hero__images-absolute {
    max-width: 330px;
    right: 40px;
    bottom: 110px;
  }
}

@media (max-width: 425px) {
  .cta-main.hero-cta {
    width: 100%;
    max-width: 100%;
  }
}
