.info-image {
  padding: 19px 0 111px;
  background: #fff;
}

.info-image__wrapper {
  max-width: 1435px;
  margin: 0 auto;
  color: #0e2242;
}

.info-image__header {
  text-align: center;
}

.info-image__title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 103px;
  line-height: 1;
  font-size: 173px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0e2242;
}

.info-image__title-main,
.info-image__title-highlight {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 173px;
  padding: 0 17px;
}

.info-image__title-highlight {
  background: #ebb858;
}

.info-image__subtitle {
  margin: 17px auto 0;
  max-width: 1133px;
  font-family: "Bebas Neue Pro", Sans-serif;
  font-size: 80px;
  color: #0e2242;
  font-weight: 700;
  line-height: 1;
}

.info-image__question {
  margin: 54px 0 0;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  line-height: 1.45;
}

.info-image__question-strong {
  font-weight: 700;
  margin-right: 4px;
}

.info-image__lead {
  margin: 26px auto 0;
  max-width: 983px;
  text-align: center;
  font-size: 30px;
  line-height: 1.45;
}

.info-image__lead strong {
  font-weight: 700;
}

.info-image__answer-label {
  margin: 28px 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.45;
}

.info-image__quote-wrap {
  width: fit-content;
  min-height: 144px;
  margin: 20px auto 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 68px;
  position: relative;
  z-index: 1;
}

.info-image__quote-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 449px;
}

.info-image__quote {
  margin: 0;
  text-align: center;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 81px;
  font-weight: 700;
  line-height: 1.1;
}

.info-image__content {
  display: grid;
  grid-template-columns: 646fr 734fr;
  justify-content: space-between;
  align-items: start;
  gap: 47px;
  padding: 0 20px;
}

.info-image__image-wrap {
  width: 100%;
  max-width: 100%;
}

.info-image__image {
  display: block;
}

.info-image__text-content {
  font-size: 30px;
  line-height: 1.2;
}

.info-image__text-content p {
  margin: 0;
}

.info-image__text-content p + p {
  margin-top: 31px;
}

.info-image__reason-box {
  margin: 22px 0;
  border: 2px solid #ebb858;
  padding: 21px 68px;
  font-weight: 700;
}

.info-image__list {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

.info-image__list li {
  position: relative;
  padding-left: 27px;
}

.info-image__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0e2242;
  transform: translateY(-50%);
}

.info-image__list li + li {
  margin-top: 8px;
}

.info-image__footer-text {
  margin: 57px 0 0;
  text-align: center;
  font-size: 35px;
  line-height: 1.2;
}

.info-image__footer-strong {
  margin: 9px 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.45;
}

.info-image__cta {
  max-width: 502px;
  width: 100%;
  margin: 56px auto 0;
}

@media (max-width: 1440px) {
  .info-image {
    max-width: 1160px;
    margin: 0 auto;
  }
  .info-image__title {
    font-size: 100px;
    line-height: 1;
  }
}

@media (max-width: 1199px) {
  .info-image__title {
    font-size: 100px;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .info-image__subtitle,
  .info-image__question,
  .info-image__answer-label,
  .info-image__lead {
    padding: 0 20px;
  }

  .info-image {
    padding: 36px 0 60px;
  }
  .info-image__lead br {
    display: none;
  }

  .info-image__wrapper {
    max-width: 100%;
    width: 100%;
  }

  .info-image__title {
    gap: 4px;
    font-size: 50px;
    line-height: 0.9;
  }

  .info-image__title-main,
  .info-image__title-highlight {
    min-height: auto;
    padding: 7px 6px;
  }

  .info-image__subtitle {
    margin-top: 14px;
    max-width: 100%;
    font-size: 25px;
    line-height: 1.05;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }

  .info-image__question,
  .info-image__lead,
  .info-image__answer-label,
  .info-image__text-content {
    font-size: 20px;
    line-height: 1.28;
  }

  .info-image__question {
    margin-top: 30px;
  }

  .info-image__lead {
    margin-top: 16px;
    max-width: 100%;
  }

  .info-image__answer-label {
    margin-top: 16px;
  }

  .info-image__quote-wrap {
    margin: 18px 0 24px;
    min-height: 90px;
    padding: 14px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .info-image__quote {
    font-size: 28px;
    line-height: 0.95;
    padding: 0 7px;
    max-width: 350px;
  }

  .info-image__content {
    grid-template-columns: 1fr;
    gap: 22px;
  }

  .info-image__image-wrap {
    width: 100%;
    height: auto;
    aspect-ratio: 364 / 207;
  }

  .info-image__text-content p + p {
    margin-top: 10px;
  }

  .info-image__reason-box {
    margin: 24px 0;
    padding: 29px;
    border-width: 1px;
  }

  .info-image__list {
    margin-top: 13px;
    margin-left: 27px;
  }

  .info-image__list li {
    padding-left: 16px;
  }

  .info-image__list li::before {
    width: 5px;
    height: 5px;
    top: 0.65em;
  }

  .info-image__list li + li {
    margin-top: 8px;
  }

  .info-image__footer-text,
  .info-image__footer-strong {
    font-size: 22px;
    line-height: 1.45;
  }

  .info-image__footer-text {
    margin-top: 30px;
  }

  .info-image__footer-strong {
    max-width: 95%;
    margin: 4px auto 0;
  }

  .info-image__cta {
    height: 60px;
    font-size: 18px;
    max-width: 90%;
    width: 100%;
  }

  .info-image__lead strong {
    font-weight: inherit;
  }

  .info-image__quote-bg {
    left: 8%;
    top: 15%;
    width: 34%;
  }

  .info-image__answer-label {
    font-weight: inherit;
  }
}
