.text-image {
  padding-top: 3%;
  background-color: #f9f9f9;
  background-image: url(../images/ti-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.ti__wrapper {
  width: 75%;
  margin: 0 auto;
}
.ti__inner {
  display: flex;
}
.ti__inner-image {
  width: 50%;
  padding: 0% 2% 2% 2%;
}
.ti__inner-text-block {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 1.5vw;
  padding: 0% 2.5% 2% 2%;
}
.ti__inner-text-block p {
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 1.15em;
  color: #0e2242;
}
.ti__bottom {
  width: 80%;
  margin: 0 auto;
}
.ti__bot__title {
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 1.2em;
  color: #0e2242;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 3%;
}
.ti__highlight-row {
  display: flex;
  flex-flow: column;
  margin-bottom: 1.5%;
}
.ti__highlight {
  background: #eeeeee;
  margin-bottom: 15px;
  padding: 1.5%;
}
.ti-highlight-text {
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.563vw;
  font-weight: 500;
  color: #0e2242;
  transition: color 0.3s;
}
.ti__yellow-box {
  padding: 4% 7% 4% 7%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ebb858;
}
.ti__yellow-box p {
  text-align: center;
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.2em;
  color: #0e2242;
}
.ti__big-text {
  text-align: center;
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 1.2em;
  color: #0e2242;
  padding: 0% 2.5% 0% 2.5%;
  margin: 2.5% 0 8%;
}
.cta-main.ti-cta {
  margin: 0 auto;
}

@media (width <= 768px) {
    .ti__inner {
        flex-flow: column;
    }
    .ti__inner-image {
        width: 100%;
    }
    .ti__inner-text-block {
        width: 100%;
        padding: 0;
    }
    .ti__wrapper {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5%;
    }
    .text-image {
        background-image: none;
    }
    .ti__inner-text-block p {
        font-size: 5vw;
    }
    .ti__inner-text-block {
        gap: 4vw;
    }
    .ti__bot__title {
        font-size: 5vw;
        text-align: left;
    }
    .ti__bot__title br {
        display: none;
    }
    .ti__bottom {
        width: 100%;
    }
    .ti__highlight {
        padding: 5%;

    }
    .ti-highlight-text {
        font-size: 7vw;
        line-height: 1.2em;
    }
    .ti__yellow-box p {
                text-align: center;
        font-size: 5.8vw;

    }
    .ti__yellow-box {
        padding: 7%;
    }
    .ti__big-text {
        padding: 0% 1.5% 0% 1.5%;
        font-size: 5vw;
        text-align: left;
        margin: 8% 0;
    }
    .cta-main.ti-cta {
        height: 60px;
        font-size: 4.5vw;
        width: 100%;
        max-width: 90%;
    }
    
}

